:root{
    --main-bg-color: aliceblue;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 24px;
}

body{
    background-color: var(--main-bg-color);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.background{
    padding: 0;
}

hr {  
    border-width: 5px;  
    width: 80%; 
 }

 img { 
    padding: 10px 0;
    width: 100%;
 }

 .page-content{
     padding: 50px;
 }

 p {
    margin: 0; 
 }

/* Header */

.header-logo{
    text-align: center;
}

/* Nav bar */

.navbar{
    padding: 30px 0;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 5px 30px;
}

/* Carousel Section */

.carousel-section-content{
    padding: 30px 0;
}

.carousel-section-content > div{
    padding: 10px 0;
}

/* Info Section */

.info-section-title{
    padding: 10px 0;
}

.info-section-content{
    font-size: var(--font-size-m);
    padding: 10px 0;
}

.info-section-wrapper{
    padding: 20px 0;
}



/* Footer */

.footer{
    height: 200px;
}